* {
    margin: 0;
    padding: 0;
    font-family: 'MedievalSharp', cursive;
}

img {
    cursor: pointer;
}

body {
    background-image: url('fond.jpg');
    background-size: cover;
    background-size: 80%;
    background-repeat: repeat-x;
}

#container {
    width: 300%;
    overflow: visible;
}

.Base1 {
    position: absolute;
    max-width: 500px;
    bottom: 16%;
    left: 3%;
}

.Base2 {
    position: absolute;
    max-width: 500px;
    bottom: 16%;
    left: 280%;
}

.AllyLife {
    height: 100px;
    width: 50%;
    position: absolute;
    top: 10%;
    left: 2%;
}

.EnnemyLife {
    height: 100px;
    width: 50%;
    position: absolute;
    top: 10%;
    left: 246%;
}

input {
    border: none;
    background-color: rgba(39, 37, 37, 0.555);
}

table, tr, td {
    border: 1px solid gray;
}

#Caserne, #Archerie, #Ecurie, #Bucheron, #Ferme, #Or {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.mur {
    background-image: url('mur.jpg');
    background-repeat: repeat;
}

.Barracks {
    z-index: 0;
    position: absolute;
    max-width: 500px;
    bottom: 18%;
    left: 45%;
    height: 25%;
}

.ProgressBarracks {
    z-index: 0;
    position: absolute;
    bottom: 45%;
    left: 45%;
    width: 200px;
}

.Archery {
    z-index: 1;
    position: absolute;
    max-width: 500px;
    bottom: 13%;
    left: 40%;
    height: 25%;
}

.ProgressArchery {
    z-index: 1;
    position: absolute;
    bottom: 41%;
    left: 37%;
    width: 200px;
}

.Stable {
    z-index: 1;
    position: absolute;
    max-width: 500px;
    bottom: 13%;
    left: 53%;
    height: 18%;
}

.ProgressStable {
    z-index: 1;
    position: absolute;
    bottom: 32%;
    left: 55%;
    width: 200px;
}

.Lumberjack {
    z-index: 1;
    position: absolute;
    max-width: 500px;
    bottom: 13%;
    left: 28%;
    height: 12%;
}

.ProgressLumberjack {
    z-index: 1;
    position: absolute;
    bottom: 25%;
    left: 26%;
    width: 200px;
}

.Gold_mine {
    z-index: 0;
    position: absolute;
    max-width: 500px;
    bottom: 18%;
    left: 20%;
    height: 10%;
}

.ProgressGold_mine {
    z-index: 0;
    position: absolute;
    bottom: 32%;
    left: 20%;
    width: 200px;
}

.Mill {
    z-index: 0;
    position: absolute;
    max-width: 500px;
    bottom: 18%;
    left: 33%;
    height: 20%;
}

.ProgressMill {
    z-index: 0;
    position: absolute;
    bottom: 39%;
    left: 32%;
    width: 200px;
}